:root {
  --beige: #fffcf1;
  --beige-dark: #e8ddb8;
  --beige-darker: #c7be9e;
  --black: #323232;
  --green: #77c03d;
  --green-shadow: rgba(150, 249, 71, 0.35);
  --grey-light: #f8f8f8;
  --grey: #e4e4e4;
  --grey-dark: #707070;
  --orange: #ff9533;
  --red: #f02d35;
  --red-dark: #c12438;
  --white: white;
  --yellow: #fbd134;

  --color-bg: var(--grey);
  --color-bg-lightest: var(--white);
  --color-bg-hover: var(--grey-dark);
  --color-bg-faded: var(--beige);
  --color-bg-faded-dark: var(--beige-dark);
  --color-bg-faded-darker: var(--beige-darker);
  --color-card-bg: var(--grey-light);

  --color-dropdown-bg: var(--grey);

  --color-text-lightest: var(--white);
  --color-text-lighter: var(--grey);
  --color-text-light: var(--grey);
  --color-text-danger: var(--red);
  --color-text-dark: var(--grey-dark);
  --color-text-darker: var(--black);

  --color-input-border: var(--grey-dark);
  --color-input-border-lightest: var(--white);

  --color-primary: var(--green);
  --color-secondary: var(--yellow);
  --color-tertiary: var(--orange);
  --color-success: var(--green);
  --color-warning: var(--yellow);
  --color-danger: var(--red);
  --color-faded: var(--beige);
  --color-faded-dark: var(--beige-dark);
  --color-faded-darker: var(--beige-darker);

  --color-bg-progress: var(--grey-dark);

  --shadow-regular: 0px 3px 16px #00000029;
}
