:root {
  --black: #323232;
  --green: #77c03d;
  --green-shadow: rgba(150, 249, 71, 0.35);
  --grey: #f6f6f6;
  --white: white;

  --color-bg: var(--grey);

  --text-4xs: 0.125rem;
  --text-3xs: 0.25rem;
  --text-2xs: 0.5rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 4rem;

  --text-4xs-em: 0.125em;
  --text-3xs-em: 0.25em;
  --text-2xs-em: 0.5em;
  --text-xs-em: 0.75em;
  --text-sm-em: 0.875em;
  --text-base-em: 1em;
  --text-lg-em: 1.125em;
  --text-xl-em: 1.25em;
  --text-2xl-em: 1.5em;
  --text-3xl-em: 1.875em;
  --text-4xl-em: 2.25em;
  --text-5xl-em: 3em;
  --text-6xl-em: 4em;

  --spacer-0: 0;
  --spacer-1: 4px;
  --spacer-2: 8px;
  --spacer-3: 16px;
  --spacer-4: 24px;
  --spacer-5: 32px;
  --spacer-6: 40px;
  --spacer-7: 48px;
  --spacer-8: 64px;
  --spacer-9: 80px;
  --spacer-10: 96px;
  --spacer-11: 128px;

  --em-spacer-1: calc(1 + 1 / 16);
  --em-spacer-2: calc(1 + 1 / 8);
  --em-spacer-3: calc(1 + 1 / 4);
  --em-spacer-4: calc(1 + 3 / 8);
  --em-spacer-5: calc(1 + 1 / 2);
  --em-spacer-6: calc(1 + 3 / 4);
  --em-spacer-7: calc(1 + 3 / 4);

  --main-content-padding-left: calc(var(--spacer-10) + var(--spacer-7));
  --main-max-width: 1158px;
  --main-min-height: 500px;

  --button-height: 54px;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  /* max-width: var(--main-max-width); */
  color: var(--black);
  background-color: var(--color-bg);
  display: block;
}

button:focus {
  outline: none;
}

button {
  line-height: var(--text-lg);
  font-size: var(--text-lg);
  font-weight: bold;
  text-align: center;
  display: inline-block;
  border: 1px solid transparent;
  user-select: none;
  padding: var(--spacer-3) var(--spacer-4) var(--spacer-3) var(--spacer-4);
  cursor: pointer;
  height: var(--button-height);
}

button.round {
  border-radius: 63px;
}

button.primary {
  color: var(--white);
  box-shadow: 0px 4px 6px var(--green-shadow);
  background-color: var(--green);
}

.top2 {
  /* background-color: aliceblue; */
  max-width: var(--main-max-width);
  width: 100%;
  min-height: var(--main-min-height);
  height: 100vh;
  max-height: 825px;
  display: grid;
  grid-template-columns: 20% 450px 1fr;
  /* grid-template-rows: 66px 1fr 180px 163px var(--button-height); */
  grid-template-rows: 2fr 66px 3fr 180px 2fr 163px 2fr var(--button-height) 2fr;
  /* grid-template-rows: 10rem auto auto auto; */
  grid-template-areas:
    ". . image"
    ". logo image"
    ". . image"
    ". title image"
    ". . image"
    ". description image"
    ". . image"
    ". button image"
    ". . image";
}

.top2 .logo {
  grid-area: logo;
  /* background-color: antiquewhite; */
}

.top2 .title {
  grid-area: title;
  /* background-color: aqua; */
  font-size: var(--text-4xl-em);
  font-weight: 300;
  /* background-color: antiquewhite; */
  line-height: var(--text-5xl);
  margin: 0;
}

.top2 .description {
  grid-area: description;
  /* background-color: aquamarine; */
  margin: 0;
  font-size: var(--text-base);
  font-weight: normal;
  line-height: var(--text-2xl);
}

.top2 .read-more {
  grid-area: button;
  justify-self: start;
}

.bg-image-top-right {
  width: 100%;
  position: absolute;
  /* background-color: tomato; */
}

.bg-image-top-right .main-bg {
  /* width: 100%; */
  position: absolute;
  right: 0px;
  max-width: 40vw;
}
.bg-image-top-right .flower {
  position: absolute;
  right: 363px;
  top: 455px;
}

.meals-title {
  margin-top: var(--spacer-7);
  position: relative;
}

.meals-title-text {
  font-weight: normal;
  line-height: var(--text-4xl);
  font-size: var(--text-4xl);
  text-align: center;
}

.meals-title-bg {
  position: absolute;
  left: 0px;
  top: 80px;
  z-index: -2;
}
.meals-title-sun {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -3;
}
.meals-title-flower {
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: -1;
}

.meals-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  --gutter: var(--spacer-3);
  margin-top: var(--spacer-9);
  /* margin: calc(-1 * var(--gutter)) calc(-1 * var(--gutter)); */
}

.meal {
  flex: 0 0 16.75rem;
  /* height: 10rem; */
  border-radius: 17px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: var(--gutter);
  background-color: var(--white);
}

.meal-image {
  object-fit: cover;
}

.meal-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: var(--spacer-3);
  padding-right: var(--spacer-3);
  justify-content: space-between;
}

.meal-title {
  font-style: normal;
  font-weight: bold;
  font-size: var(--text-2xl);
  line-height: var(--text-3xl);
  padding-top: var(--spacer-3);
  padding-bottom: var(--spacer-3);
  margin: 0;
  color: var(--green);
}

.meal-description {
  font-style: normal;
  font-weight: normal;
  font-size: var(--text-lg);
  line-height: var(--text-3xl);
  padding-top: var(--spacer-3);
  padding-bottom: var(--spacer-3);
  margin: 0;
}

.meal-price {
  position: relative;
  display: flex;
  justify-content: center;
}

.meal-price .currency {
  position: absolute;
  left: 0px;
  bottom: 0px;
  color: var(--green);
  font-style: normal;
  font-weight: bold;
  font-size: var(--text-lg);
  line-height: var(--text-2xl);
}

.meal-price .price {
  width: 50%;
  color: var(--green);
  font-style: normal;
  font-weight: bold;
  font-size: var(--text-5xl);
  line-height: var(--text-5xl);
  border-bottom: 1px solid #d0d0d0;
  text-align: center;
}

.meal-message {
  font-style: normal;
  font-weight: bold;
  font-size: var(--text-base);
  color: var(--green);
  line-height: var(--text-2xl);
  flex: 1;
  /* padding-top: var(--spacer-3);
  padding-bottom: var(--spacer-3);
  margin: 0; */
}

.meal-button {
  padding-bottom: var(--spacer-6);
}

.meal-button button {
  width: 100%;
  border-radius: 63px;
  font-size: var(--text-lg);
}

footer {
  position: relative;
  height: 226px;
  margin-top: calc(3 * var(--spacer-9));
  padding-top: 300px;
  padding-left: var(--main-content-padding-left);
  background: url(assets/images/footer-bg-yellow.svg);
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
}

footer::before {
  content: "";
  display: block;
  height: calc(var(--text-3xs) + var(--text-4xs));
  width: 50px;
  background-color: var(--black);
  border-radius: 15px;
}

footer span {
  line-height: var(--text-3xl);
  padding-top: var(--spacer-1);
}

/* .footer-bg {
  width: 100%;
  position: absolute;
  top: calc(-1 * var(--spacer-10));
  z-index: -2;
  height: 100%;
} */

.footer-woman {
  position: absolute;
  height: 60vw;
  max-height: calc(0.5 * var(--main-max-width));
  /* height: calc(0.6 * var(--main-max-width)); */
  right: 5%;
  z-index: 1;
  bottom: 140px;
}

.footer-sun {
  position: absolute;
  height: 370px;
  right: 0px;
  z-index: -3;
  bottom: 173px;
}

.footer-follow-us {
  z-index: 2;
}

.footer-social-media {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-top: var(--spacer-3);
  bottom: 50%;
}

.footer-social-media-round-link {
  z-index: 2;
  border-radius: 50%;
  background-color: var(--black);
  width: var(--text-5xl);
  height: var(--text-5xl);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-media-round-link + * {
  margin-left: var(--spacer-4);
}

.footer-social-media-round-link img {
  height: 50%;
}
