:root {
  --main-content-padding: var(--s-3);
  --main-max-width: 1400px;
  --main-min-height: 500px;

  --button-height: 54px;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  color: var(--black);
  background-color: var(--color-bg);
  display: block;
}
