:root {
  --main-content-padding: calc(100% * 320 / 1920);
  --main-max-width: 1400px;
  --main-min-height: 500px;

  --button-height: var(--font-6xl);
  --button-sm-height: var(--font-4xl);

  --menu-height: var(--s-7);
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  color: var(--color-text-dark);
  background-color: var(--color-bg);
  display: block;
}

* {
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1536px) {
  :root {
    --main-content-padding: 10%;
  }
}

@media (max-width: 1280px) {
  :root {
    --main-content-padding: 10%;
  }
}

@media (max-width: 1024px) {
  :root {
    --main-content-padding: var(--s-8);
  }
}

@media (max-width: 768px) {
  :root {
    --main-content-padding: var(--s-6);
    --menu-height: var(--s-8);
  }
}

@media (max-width: 640px) {
  :root {
    --main-content-padding: var(--s-3);
  }
}
