/* 
# height
Idealmente, num desktop, ocuparia a altura inteira (descontando o tamanho do menu é claro). No entanto, precisa ter um limite inferior, para que não fique tão pequena, e um limite superior, para que também não fique gigante na tela.
O limite inferior pode ser 550px e o superior o tamanho da imagem, que é 755px

# margin left
É definida uma variável global "--main-content-padding" que será utilizada por todos os componentes que tiverem que respeitar margem lateral.

central position
left flower
right flower */

.c-menu {
  padding: var(--s-4) var(--main-content-padding);
  height: var(--menu-height);

  background-color: var(--color-bg-faded);

  display: flex;
  align-items: center;

  --menu-items-margin: var(--s-4);
}

.c-menu__logo {
  margin-right: var(--s-7);
}

.l-menu__items {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.c-menu__item {
  margin-right: var(--menu-items-margin);
}
.c-menu__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-text-dark);
  font-size: var(--font-base);
}
.c-menu__item.c-menu__item-active a {
  font-weight: bold;
}
.c-menu__item:last-of-type {
  margin-right: 0;
}

.c-menu__action {
  margin-left: auto;
  font-family: var(--family-handwritten);
  color: var(--color-text-danger);
  font-size: var(--font-4xl);
}

.c-menu__action:hover {
  text-decoration: underline;
}
.c-menu__btn {
  display: none;
}

.c-mobileMenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-danger);
  z-index: 100;
  padding: var(--s-9) var(--s-7);
}

/* extra large */
@media (max-width: 1536px) {
}

/* large */
@media (max-width: 1280px) {
}

/* medium */
@media (max-width: 1024px) {
  .c-menu__logo {
    margin-right: 0;
  }
  .l-menu__items {
    display: none;
  }
  .c-menu__btn {
    display: inline-block;
    margin-left: auto;
    border: none;
    padding: var(--s-3);
    background-color: var(--color-bg-faded);
    transition: background-color 0.2s ease;
    cursor: pointer;
    z-index: 101;
  }
  .c-menu__btn:hover {
    background-color: var(--color-danger);
    box-shadow: 0px 0px 6px 2px rgb(0 0 0 / 15%);
  }
  .c-menu__btn:focus {
    outline: none;
  }
  .c-menu__btn::after,
  .c-menu__btn::before {
    content: '-';
    width: var(--font-lg);
    height: var(--s-01);
    background-color: var(--color-text-darker);
    font-size: 0;
    display: block;
    transition: all 0.2s ease;
  }
  .c-menu__btn:hover:after,
  .c-menu__btn:hover:before {
    background-color: var(--color-warning);
  }
  .c-menu__btn::before {
    margin-bottom: var(--s-1);
  }
  .c-menu__btn.js-open {
    box-shadow: none;
    background-color: transparent;
  }
  .c-menu__btn.js-open::after,
  .c-menu__btn.js-open::before {
    background-color: var(--color-warning);
  }
  .c-menu__btn.js-open::before {
    transform: translateY(3px) rotate(45deg) scale(2);
  }
  .c-menu__btn.js-open::after {
    transform: translateY(-3px) rotate(-45deg) scale(2);
  }

  .c-menu__action {
    margin-left: var(--s-4);
  }

  .c-mobileMenu.js-open {
    display: block;
  }
  .c-mobileMenu__item {
    font-size: var(--font-4xl);
    color: var(--color-warning);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin-top: var(--s-3);
  }
  .c-mobileMenu__item:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

/* small */
@media (max-width: 768px) {
  .c-menu {
    padding: var(--s-2) var(--main-content-padding);
  }
  .c-menu__logo {
    height: var(--s-7);
  }
}

/* extra small */
@media (max-width: 640px) {
  .c-menu__logo {
    max-width: 8.75rem;
  }
}

/* tiny */
@media (max-width: 359px) {
  .c-menu__logo {
    height: var(--s-5);
    max-width: 7.5rem;
  }
  .c-menu__action {
    font-size: var(--font-2xl);
  }
  .c-mobileMenu__item {
    font-size: var(--font-2xl);
  }
}
