.campaign-goal {
  --campaign-goal-height: 150px;
  display: grid;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  background-color: var(--color-card-bg);
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
  padding: var(--s-4) var(--s-3);
  grid-template-rows: auto var(--s-2) auto var(--s-3) auto;
  grid-template-columns: auto var(--s-2) auto var(--s-1) auto var(--s-1) 1fr;
  grid-template-areas:
    "percentage       .             progress         progress    progress       progress progress  "
    ".                .             .                .           .              .        .         "
    "current-value    current-value current-value    .           word-connector .        goal-value"
    ".                .             .                .           .              .        .         "
    "supporters-value supporters-label supporters-label .           .              .        .         ";

  animation-name: appear;
  animation-duration: 3s;
}

.campaign-goal__progress-container {
  grid-area: progress;
  align-self: center;
  border-radius: var(--radius-2);
  width: 100%;
  height: var(--s-2);
  background-color: var(--color-bg-progress);
}
.campaign-goal__progress {
  grid-area: progress;
  align-self: center;
  border-radius: var(--radius-2);
  --progress: 54%;
  width: var(--progress);
  height: var(--s-2);
  background-image: linear-gradient(to right, var(--color-success) 90%, var(--color-warning));
}
.campaign-goal__percentage {
  grid-area: percentage;
  font-weight: 700;
  font-size: var(--font-xl);
  color: var(--color-primary);
}
.campaign-goal__current-label {
  display: none;
}
.campaign-goal__current-value {
  grid-area: current-value;
  font-weight: 700;
  font-size: var(--font-2xl);
  line-height: var(--font-2xl);
  color: var(--color-primary);
  align-self: flex-end;
}
.campaign-goal__word-connector {
  grid-area: word-connector;
  align-self: flex-end;
  font-style: italic;
}
.campaign-goal__goal-label {
  display: none;
}
.campaign-goal__goal-value {
  grid-area: goal-value;
  align-self: flex-end;
  font-style: italic;
}
.campaign-goal__supporters-label {
  grid-area: supporters-label;
  align-self: flex-end;
}
.campaign-goal__supporters-value {
  grid-area: supporters-value;
  font-size: var(--font-2xl);
  line-height: var(--font-2xl);
  align-self: flex-end;
}

@keyframes appear {
  from {
    bottom: calc(-1 * var(--campaign-goal-height));
  }
  to {
    bottom: 0;
  }
}

@media (min-width: 576px) {
  .campaign-goal {
    padding: var(--s-4) var(--s-5);

    grid-template-rows: auto var(--s-2) auto;
    grid-template-columns:
      auto var(--s-2) auto var(--s-1) auto var(--s-1) 1fr auto var(--s-1)
      auto;
    grid-template-areas:
      "percentage       .                progress         progress    progress       progress progress   progress progress progress"
      ".                .                .                .           .              .        .           . . ."
      "current-value    current-value    current-value    .           word-connector .        goal-value  supporters-value . supporters-label";
  }
}

@media (min-width: 768px) {
  .campaign-goal {
    padding: var(--s-4) var(--s-5);

    grid-template-rows: auto var(--s-2) auto;
    grid-template-columns:
      auto var(--s-3) auto var(--s-2) auto var(--s-2) 1fr auto var(--s-2)
      auto;
    grid-template-areas:
      "percentage       .                progress         progress    progress       progress progress   progress progress progress"
      ".                .                .                .           .              .        .           . . ."
      "current-value    current-value    current-value    .           word-connector .        goal-value  supporters-value . supporters-label";
  }
}
