/* 
# height
Idealmente, num desktop, ocuparia a altura inteira (descontando o tamanho do menu é claro). No entanto, precisa ter um limite inferior, para que não fique tão pequena, e um limite superior, para que também não fique gigante na tela.
O limite inferior pode ser 550px e o superior o tamanho da imagem, que é 755px

# margin left
É definida uma variável global "--main-content-padding" que será utilizada por todos os componentes que tiverem que respeitar margem lateral.

central position
left flower
right flower */

.c-intro {
  --intro-min-height: 550px;
  --intro-max-height: 755px;
  padding: 0 var(--main-content-padding);
  position: relative;
  min-height: var(--intro-min-height);
  height: calc(100vh - var(--menu-height));
  max-height: var(--intro-max-height);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-intro__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom right;
  z-index: -1;
}

.c-highlightedText {
  position: relative;
  margin: 0;
  width: fit-content;
}

.c-highlightedText__text {
  position: relative;
  margin: 0;
  padding: 0 var(--s-4);
  font-family: var(--family-bm);
  font-weight: normal;
  font-size: var(--font-17xl);
  line-height: var(--font-9xl);
  z-index: 2;
}

.c-highlightedText__bg {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.c-highlightedText__bg.c-highlightedText__bg-warning {
  fill: var(--color-warning);
}
.c-highlightedText-second .c-highlightedText__text {
  line-height: var(--font-10xl);
}
.c-highlightedText-second .c-highlightedText__bg {
  top: 0;
  height: var(--font-13xl);
}

.c-intro__readMore {
  margin-top: var(--s-9);
  width: fit-content;
}

.c-intro__bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.c-intro__flowerTopLeft {
  position: absolute;
  left: -109px;
  top: -85px;
  height: 300px;
}

@media (max-width: 1536px) {
  .c-highlightedText__text {
    font-size: var(--font-15xl);
  }
}

@media (max-width: 1280px) {
  .c-intro__flowerTopLeft {
    left: calc(-1 * var(--s-7));
    top: calc(-1 * var(--s-7));
    height: var(--font-16xl);
  }
}
@media (max-width: 1024px) {
  .c-highlightedText__text {
    font-size: var(--font-13xl);
  }

  .c-intro__flowerTopLeft {
    left: calc(-1 * var(--s-6));
    top: calc(-1 * var(--s-6));
    height: var(--font-14xl);
  }
}

@media (max-width: 768px) {
  .c-highlightedText__text {
    font-size: var(--font-12xl);
    line-height: var(--font-9xl);
  }
  .c-highlightedText-second .c-highlightedText__bg {
    top: 0;
    height: var(--font-8xl);
  }
  .c-highlightedText-second .c-highlightedText__text {
    line-height: var(--font-5xl);
  }

  .c-intro__flowerTopLeft {
    left: calc(-1 * var(--s-4));
    top: calc(-1 * var(--s-4));
    height: var(--font-10xl);
  }
}

@media (max-width: 640px) {
  .c-highlightedText__text {
    font-size: var(--font-9xl);
    line-height: var(--font-9xl);
  }
  .c-highlightedText__bg {
    height: 73%;
  }

  .c-highlightedText.c-highlightedText-second {
    margin: var(--s-1) 0;
  }
  .c-highlightedText-second .c-highlightedText__bg {
    top: 0;
    height: 117%;
  }
  .c-highlightedText-second .c-highlightedText__text {
    line-height: var(--font-5xl);
  }

  .c-intro__readMore {
    width: unset;
  }
}

@media (max-width: 473px) {
  .c-highlightedText.c-highlightedText-second {
    width: calc(284rem / 16);
  }
}

@media (max-width: 359px) {
  .c-highlightedText.c-highlightedText-second {
    width: calc(205rem / 16);
  }
  .c-highlightedText__text {
    font-size: var(--font-8xl);
    line-height: var(--font-8xl);
    padding: 0 var(--s-2);
  }
}
