.meals {
  --x-padding: var(--main-content-padding);
  --y-padding: var(--s-5);
  position: relative;
  padding: var(--y-padding) 0;
  margin: 0 auto;
}
.meals .meals__title {
  font-weight: normal;
  line-height: var(--font-4xl);
  font-size: var(--font-4xl);
  text-align: center;
  margin: 0 var(--x-padding);
  word-break: break-word;
}

.meals .meals__title-bg {
  position: absolute;
  z-index: -1;
  width: 30%;
  top: var(--s-14);
}

.meals .meals__title-bg-bottom {
  position: absolute;
  z-index: -1;
  width: 30%;
  top: 30%;
  right: 0;
}

.meals .meals__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 var(--main-content-padding);

  --gutter: var(--s-3);
  margin: var(--s-9) auto;
  max-width: 1290px;
}

.meals .meals__item-container {
  flex: 0 0 33%;
  padding: 0 var(--gutter);
  margin-bottom: var(--s-7);
}

.meals .meals__item {
  margin: 0 auto;
  width: 20.75rem;
  height: auto;
  border-radius: var(--radius-5);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background-color: var(--color-card-bg);
}

.meals .meals__item-image {
  object-fit: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.meals .meals__item-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: var(--s-3);
  padding-right: var(--s-3);
  justify-content: space-between;
}

.meals .meals__item-title {
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-2xl);
  line-height: var(--font-3xl);
  padding-top: var(--s-3);
  padding-bottom: var(--s-3);
  margin: 0;
  color: var(--green);
}

.meals .meals__item-description {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-lg);
  line-height: var(--font-3xl);
  padding-top: var(--s-3);
  padding-bottom: var(--s-3);
  margin: 0;
}

.meals .meals__item-price {
  position: relative;
  display: flex;
  justify-content: center;
}

.meals .meals__item-price .currency {
  position: absolute;
  left: 0px;
  bottom: 0px;
  color: var(--green);
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-lg);
  line-height: var(--font-2xl);
}

.meals .meals__item-price .price {
  color: var(--green);
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-5xl);
  line-height: var(--font-5xl);
  border: none;
  border-bottom: 1px solid #d0d0d0;
  text-align: center;
}

.meals .meals__item-price .price.input {
  width: 100%;
  background: none;
}

.meals .meals__item-select {
  margin: var(--s-4) 0 var(--s-2) 0;
}

.meals .meals__item-message {
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-base);
  color: var(--green);
  line-height: var(--font-2xl);
  flex: 1;
}

.meals .meals__item-button {
  padding-bottom: var(--s-6);
}

.meals .meals__item-button .button {
  width: 100%;
  border-radius: 63px;
  font-size: var(--font-lg);
}

@media (min-width: 576px) {
  .meals .meals__title-bg {
    width: 20%;
    top: var(--s-11);
  }
  .meals .meals__item {
    /* width: 21.75rem; */
    height: 818px;
  }
}

@media (min-width: 992px) {
  .meals .meals__title-bg {
    top: var(--y-padding);
  }
}

@media (min-width: 1200px) {
  .meals {
    max-width: var(--main-max-width);
  }
}
