.c-blog {
    --padding-top: var(--s-7);
    --general-font-size: var(--font-lg);
    --flex-gap: var(--s-3);
    --item-gap: var(--s-2);
    padding: var(--padding-top) var(--main-content-padding);
    background-color: var(--color-bg-lightest);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.c-blog__title {
    flex: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: var(--s-9);
}

.c-blog__item-small, .c-blog__item-big {
    margin-bottom: var(--s-3);
    min-height: 21rem;
    max-height: 30rem;
}

.c-blog__item-small > *, .c-blog__item-big > * {
    height: 100%;
}

.c-blog__item-small {
    flex: 0 0 calc(30% - var(--flex-gap) / 2);
}

.c-blog__item-big {
    flex: 0 0 calc(70% - var(--flex-gap) / 2);
}

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
    .c-blog__item-small {
        flex: 0 0 calc(33.3% - var(--flex-gap) / 2);
    }
    
    .c-blog__item-big {
        flex: 0 0 calc(66.6% - var(--flex-gap) / 2);
    }
}

@media (max-width: 768px) {
    .c-blog {
        --padding-top: var(--s-6);
    }
    .c-blog__title {
        margin-bottom: var(--s-7);
    }

    .c-blog__item-small {
        flex: 0 0 calc(44% - var(--flex-gap) / 2);
    }
    
    .c-blog__item-big {
        flex: 0 0 calc(56% - var(--flex-gap) / 2);
    }
}

@media (max-width: 640px) {
    .c-blog__title {
        margin-bottom: var(--s-5);
    }

    .c-blog__item-small, .c-blog__item-big {
        flex: 0 0 100%;
    }   
}
@media (max-width: 359px) {
}
