.c-button:focus {
  outline: none;
}

.c-button {
  line-height: var(--font-lg);
  font-size: var(--font-lg);
  font-weight: bold;
  text-align: center;
  display: inline-block;
  border: 1px solid transparent;
  user-select: none;
  padding: var(--s-3) var(--s-4) var(--s-3) var(--s-4);
  cursor: pointer;
  max-height: var(--button-height);
  text-decoration: none;
  border-radius: var(--radius-2);
}

.c-button.c-button-round {
  border-radius: 63px;
}

.c-button.c-button-primary {
  color: var(--white);
  box-shadow: 0px 4px 6px var(--color-primary-shadow);
  background-color: var(--color-primary);
}

.c-button.c-button-success {
  color: var(--color-text-lightest);
  box-shadow: 0px 4px 6px var(--color-success-shadow);
  background-color: var(--color-success);
}

.c-button.c-button-danger {
  color: var(--color-warning);
  box-shadow: 0px 4px 6px var(--color-danger-shadow);
  background-color: var(--color-danger);
}

.c-button.c-button-faded {
  color: var(--color-text-dark);
  box-shadow: 0px 4px 6px var(--color-success-shadow);
  background-color: var(--color-faded);
}

.c-button.c-button-sm {
  font-size: var(--font-sm);
  height: var(--button-sm-height);
  padding: var(--s-2) var(--s-3) var(--s-2) var(--s-3);
}

/* extra small */
@media (max-width: 640px) {
  .c-button.c-button-sm-xs {
    font-size: var(--font-sm);
    height: var(--button-sm-height);
    padding: var(--s-2) var(--s-3) var(--s-2) var(--s-3);
  }
}
