.dropdown {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  margin: 30px;
  background: rgb(248, 248, 248);
  border: solid 1px rgb(222, 222, 222);
  width: 320px;
  cursor: pointer;
}
.icon {
  display: flex;
  justify-content: space-around;
}
.menu {
  height: 230px;
}
.menu li {
  font-size: 24px;
  text-transform: uppercase;
  padding: 14px 6px;
  border-top: solid 1px rgb(202, 202, 202);
}
.dropdown.closed .menu {
  height: 0px;
}
.dropdown.closed .icon span {
  transform: rotate(180deg);
}
