.c-highlightedText {
  position: relative;
  margin: 0;
  display: inline-block;
}

.c-highlightedText__text {
  position: relative;
  margin: 0;
  padding: 0 var(--s-4);
  font-family: var(--family-bm);
  font-weight: normal;
  font-size: var(--font-17xl);
  line-height: var(--font-11xl);
  color: var(--color-text-darker);
  z-index: 2;
}

.c-highlightedText__bg {
  position: absolute;
  left: 0;
  top: 15%;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.c-highlightedText__bg.c-highlightedText__bg-warning {
  fill: var(--color-warning);
}
.c-highlightedText__bg.c-highlightedText__bg-faded {
  fill: var(--color-faded);
}
.c-highlightedText__bg.c-highlightedText__bg-faded-dark {
  fill: var(--color-faded-dark);
}

@media (max-width: 1536px) {
  .c-highlightedText__text {
    font-size: var(--font-15xl);
    line-height: var(--font-9xl);
  }
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
  .c-highlightedText__text {
    font-size: var(--font-13xl);
  }
}

@media (max-width: 768px) {
  .c-highlightedText__text {
    font-size: var(--font-12xl);
  }
}

@media (max-width: 640px) {
  .c-highlightedText__text {
    font-size: var(--font-9xl);
  }
  .c-highlightedText__bg {
    height: 73%;
    top: 21%;
  }
}

@media (max-width: 359px) {
  .c-highlightedText__text {
    font-size: var(--font-8xl);
    line-height: var(--font-8xl);
    padding: 0 var(--s-2);
  }
}
