.c-highlightedText {
  position: relative;
  margin: 0;
  display: inline-block;
  --font-size: var(--font-17xl);
  --line-height: var(--font-11xl);
}

.c-highlightedText__text {
  position: relative;
  margin: 0;
  padding: 0 var(--s-4);
  font-family: var(--family-bm);
  font-weight: normal;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color-text-darker);
  z-index: 2;
}

.c-highlightedText__bg {
  position: absolute;
  left: 0;
  top: -15%;
  width: 100%;
  height: 104%; 
  z-index: 0;
}
.c-highlightedText__bg.c-highlightedText__bg-warning {
  fill: var(--color-warning);
}
.c-highlightedText__bg.c-highlightedText__bg-faded {
  fill: var(--color-faded);
}
.c-highlightedText__bg.c-highlightedText__bg-faded-dark {
  fill: var(--color-faded-dark);
}
.c-highlightedText__bg.c-highlightedText__bg-faded-darker {
  fill: var(--color-faded-darker);
}

@media (max-width: 1536px) {
  .c-highlightedText {
    --font-size: var(--font-15xl);
    --line-height: var(--font-9xl);
  }
  .c-highlightedText__bg {
    top: -5%;
  }
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
  .c-highlightedText {
    --font-size: var(--font-13xl);
    --line-height: var(--font-8xl);
  }
}

@media (max-width: 768px) {
  .c-highlightedText {
    --font-size: var(--font-12xl);
    --line-height: var(--font-7xl);
  }
}

@media (max-width: 640px) {
  .c-highlightedText {
    --font-size: var(--font-7xl);
    --line-height: var(--font-5xl);
  }
  .c-highlightedText__bg {
    height: 91%;
    top: -1%;
  } 
}

@media (max-width: 400px) {
  .c-highlightedText__text {
    padding: 0 var(--s-3);
  }
}

@media (max-width: 360px) {
  .c-highlightedText {
    --font-size: var(--font-6xl);
    --line-height: var(--font-5xl);
  }
  .c-highlightedText__text {
    padding: 0 var(--s-2);
  }
}
