@media (max-width: 480px) {
  .top2 {
    grid-template-columns: var(--main-content-padding) auto var(
        --main-content-padding
      );
    grid-template-rows: 2fr 66px 3fr auto 2fr auto 2fr var(--button-height) 2fr;
  }

  .top2 .title {
    font-size: var(--text-3xl);
    line-height: var(--text-5xl);
  }

  .top2 .description {
    font-size: var(--text-base);
    line-height: var(--text-2xl);
  }
}
