@media (max-width: 1024px) {
  :root {
    --main-content-padding: 10%;
  }

  .meals-title {
    padding-left: var(--spacer-5);
    padding-right: var(--spacer-5);
  }

  .meals-title-bg {
    top: 140px;
  }
  .meals-title-sun {
    top: 60px;
  }
  .meals-title-flower {
    top: 90px;
  }
}
