.top2 {
  /* background-color: aliceblue; */
  max-width: var(--main-max-width);
  width: 100%;
  min-height: var(--main-min-height);
  height: 100vh;
  max-height: 825px;
  display: grid;
  grid-template-columns: var(--main-content-padding) 450px 1fr;
  /* grid-template-rows: 66px 1fr 180px 163px var(--button-height); */
  grid-template-rows: 2fr 66px 3fr 180px 2fr 163px 2fr var(--button-height) 2fr;
  /* grid-template-rows: 10rem auto auto auto; */
  grid-template-areas:
    ". . image"
    ". logo image"
    ". . image"
    ". title image"
    ". . image"
    ". description image"
    ". . image"
    ". button image"
    ". . image";
}

.top2 .logo {
  grid-area: logo;
  /* background-color: antiquewhite; */
}

.top2 .title {
  grid-area: title;
  /* background-color: aqua; */
  font-size: var(--font-4xl-em);
  font-weight: 300;
  /* background-color: antiquewhite; */
  line-height: var(--font-5xl);
  margin: 0;
}

.top2 .description {
  grid-area: description;
  /* background-color: aquamarine; */
  margin: 0;
  font-size: var(--font-base);
  font-weight: normal;
  line-height: var(--font-2xl);
}

.top2 .read-more {
  grid-area: button;
  justify-self: start;
}

.bg-image-top-right {
  width: 100%;
  position: absolute;
  /* background-color: tomato; */
}

.bg-image-top-right .main-bg {
  /* width: 100%; */
  position: absolute;
  right: 0px;
  max-width: 40vw;
}
.bg-image-top-right .flower {
  position: absolute;
  right: 363px;
  top: 455px;
}

.meals-title {
  margin-top: var(--s-7);
  position: relative;
}

.meals-title-text {
  font-weight: normal;
  line-height: var(--font-4xl);
  font-size: var(--font-4xl);
  text-align: center;
}

.meals-title-bg {
  position: absolute;
  left: 0px;
  top: 80px;
  z-index: -2;
}
.meals-title-sun {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -3;
}
.meals-title-flower {
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: -1;
}

.meals-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 var(--main-content-padding);

  --gutter: var(--s-3);
  margin-top: var(--s-9);
  /* margin: calc(-1 * var(--gutter)) calc(-1 * var(--gutter)); */
}

.meal-container {
  /* flex: 0 0 16.75rem; */
  flex: 0 0 33%;
  /* padding: var(--gutter); */
}

.meal {
  margin: 0 auto;
  width: 16.75rem;
  /* height: 10rem; */
  border-radius: 17px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.meal-image {
  object-fit: cover;
}

.meal-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: var(--s-3);
  padding-right: var(--s-3);
  justify-content: space-between;
}

.meal-title {
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-2xl);
  line-height: var(--font-3xl);
  padding-top: var(--s-3);
  padding-bottom: var(--s-3);
  margin: 0;
  color: var(--green);
}

.meal-description {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-lg);
  line-height: var(--font-3xl);
  padding-top: var(--s-3);
  padding-bottom: var(--s-3);
  margin: 0;
}

.meal-price {
  position: relative;
  display: flex;
  justify-content: center;
}

.meal-price .currency {
  position: absolute;
  left: 0px;
  bottom: 0px;
  color: var(--green);
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-lg);
  line-height: var(--font-2xl);
}

.meal-price .price {
  width: 50%;
  color: var(--green);
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-5xl);
  line-height: var(--font-5xl);
  border-bottom: 1px solid #d0d0d0;
  text-align: center;
}

.meal-message {
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-base);
  color: var(--green);
  line-height: var(--font-2xl);
  flex: 1;
  /* padding-top: var(--s-3);
  padding-bottom: var(--s-3);
  margin: 0; */
}

.meal-button {
  padding-bottom: var(--s-6);
}

.meal-button button {
  width: 100%;
  border-radius: 63px;
  font-size: var(--font-lg);
}

footer {
  position: relative;
  height: 226px;
  margin-top: calc(3 * var(--s-9));
  padding-top: 300px;
  padding-left: var(--main-content-padding);
  background: url(assets/images/footer-bg-yellow.svg);
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
}

footer::before {
  content: "";
  display: block;
  height: calc(var(--font-3xs) + var(--font-4xs));
  width: 50px;
  background-color: var(--black);
  border-radius: 15px;
}

footer span {
  line-height: var(--font-3xl);
  padding-top: var(--s-1);
}

.footer-bg {
  width: 100%;
  position: absolute;
  top: calc(-1 * var(--s-10));
  z-index: -2;
  height: 100%;
}

.footer-woman {
  position: absolute;
  height: 60vw;
  max-height: calc(0.5 * var(--main-max-width));
  /* height: calc(0.6 * var(--main-max-width)); */
  right: 5%;
  z-index: 1;
  bottom: 140px;
}

.footer-sun {
  position: absolute;
  height: 370px;
  right: 0px;
  z-index: -3;
  bottom: 173px;
}

.footer-follow-us {
  z-index: 2;
}

.footer-social-media {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-top: var(--s-3);
  bottom: 50%;
}

.footer-social-media-round-link {
  z-index: 2;
  border-radius: 50%;
  background-color: var(--black);
  width: var(--font-5xl);
  height: var(--font-5xl);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-media-round-link + * {
  margin-left: var(--s-4);
}

.footer-social-media-round-link img {
  height: 50%;
}
