@media (min-width: 576px) {
  .top2 {
    grid-template-columns: var(--main-content-padding) auto var(
        --main-content-padding
      );
    grid-template-rows: 2fr 66px 3fr auto 2fr auto 2fr var(--button-height) 2fr;
  }

  .top2 .title {
    font-size: var(--font-3xl);
    line-height: var(--font-5xl);
  }

  .top2 .description {
    font-size: var(--font-base);
    line-height: var(--font-2xl);
  }
}
